1. # What are data structures, and why are they important?
   - Data structures are specialized formats for organizing storing, and  accessing collections of data.They areimportant because they
   Act as containers to hold data,
   Simplify data manipulation,
   Optimize searching and storing operations,
   Conserve memory usage.

2. # Explain the difference between mutable and immutable data types with examples.
   - Mutable data types: These are data types whose values can be changed after creation. like list, dictionary.
   Immutable data types: These are data types whose values cannot be changed after creation. like tuple, string.

3. # What are the main differences between lists and tuples in Python?
   - Lists are mutable, use square brackets [""], slower compared to tuples, and consume more memory.Tuples are immutable, use parentheses (), faster compared to lists, and support fewer functions like count() and index().

4. # Describe how dictionaries store data.
   - A dictionary in Python is a data structure that stores data in the form of key-value pairs. Every key is like a special name that helps you find its value, and the data associated with that key is called the value.

5. # Why might you use a set instead of a list in Python?
   - Because sets are an unordered collection of unique elements, and they are useful for finding common elements or removing duplicates.

6. # What is a string in Python, and how is it different from a list?
   - A string in Python is a sequence of characters used to represent text and is immutable, meaning its contents cannot be changed once created. A list, on the other hand, can store multiple data types, is mutable, and allows modification of its elements, while both support indexing and slicing.

7. # How do tuples ensure data integrity in Python?
   - Tuples ensure data integrity in Python by being immutable, meaning their values cannot be changed once created.

8. # What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores values using keys, with a hash function mapping each key to an index for fast access. A Python dictionary is an implementation of a hash table, where data is stored as key value pairs.

9. # Can lists contain different data types in Python?
   - Yes, a list in Python can contain elements of different data types.
like int, float, complex, str, tuple, another list, range, dict, set, frozenset, bool, etc

10. # Explain why strings are immutable in Python?
    - Strings are immutable because immutability makes them memory-efficient, reliable as dictionary keys, thread-safe, and consistent to use.

11. # What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries offer faster lookups, store data as key value pairs, ensure unique keys, and allow direct access using keys instead of indexes.

12. # Describe a scenario where using a tuple would be preferable over a list?
    - When you create employee IDs, memberships, or permanent details, you must use tuples because they cannot be modified or changed. Like a list

13. # How do sets handle duplicate values in Python?
    - The purpose of a set is to store unique values, so if you add a duplicate, Python automatically keeps only one copy and removes the rest.

14. # How does the “in” keyword work differently for lists and dictionaries.
    - The "in" keyword checks if a value/element exists in the list.The "in" keyword checks if a key exists in the dictionary (not the value).

15. # Can you modify the elements of a tuple? Explain why or why not?
    - A tuple is immutable, which means once it is created, its elements cannot be changed, added, or removed.If a tuple contains a mutable object like a list, the contents of that object can be modified, but the tuples structure the positions of elements itself still cannot change.

16. # What is a nested dictionary, and give an example of its use case
    - A nested dictionary means storing one dictionary inside another. It is useful for organizing complex data in a structured way, like storing student details name, marks, age subject-wise.

17. # Describe the time complexity of accessing elements in a dictionary.
    - Because dictionaries use hashing, so Python can directly jump to the memory location of the key.

18. # In what situations are lists preferred over dictionaries
    - Lists are preferred when we need to store data in an ordered sequence, access elements by index, or allow duplicate values. They are useful for simple collections like numbers, names, or items.

19. # Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dictionaries are considered unordered because they store data based on hashing, not in a fixed sequence.Effect on retrieval you can access values only by their keys, not by index like a list.

20. # Explain the difference between a list and a dictionary in terms of data retrieval.
    - List is an ordered collection. Data is retrieved from index number. Dictionary is an unordered collection. Data is retrieved from unique key.

# New section

In [40]:
1. # Write a code to create a string with your name and print it.
name = (str("Yash Srivastava"))
name

'Yash Srivastava'

In [41]:
2. # Write a code to find the length of the string "Hello World".
a = ("Hello World")
len(a)

11

In [42]:
3. # Write a code to slice the first 3 characters from the string "Python Programming".
a = ("Python Programming")
a[0:3]

'Pyt'

In [43]:
4. # Write a code to convert the string "hello" to uppercase.
greet = "hello"
print(greet.upper())

HELLO

In [44]:
5. # Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
a = a.replace("apple", "orange")
print(a)

I like orange

In [45]:
6. # Write a code to create a list with numbers 1 to 5 and print it
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [46]:
7. # Write a code to append the number 10 to the list [1, 2, 3, 4].
list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [47]:
8. # Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [48]:
9. # Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [49]:
10. # Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [50]:
11. # Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100, 200, 300)
tuple

(100, 200, 300)

In [51]:
12.# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [52]:
13. # Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [53]:
14. # Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [54]:
15. # Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [55]:
16. # Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {"a", "b", "c"}
my_set

{'a', 'b', 'c'}

In [56]:
17. # Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [57]:
18. # Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(set)

<class 'set'>

In [58]:
19. # Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
my_set1 = {1, 2, 3}
my_set2 = {3, 4, 5}
print(my_set1.union(my_set2))

{1, 2, 3, 4, 5}

In [59]:
20. # Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
my_set1 = {1, 2, 3}
my_set2 = {2, 3, 4}
print(my_set1.intersection(my_set2))

{2, 3}

In [60]:
21. # Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
details = {
    "name": "Yash Srivastava",
    "age": 19,
    "city": "Lucknow"
}
print(details)

{'name': 'Yash Srivastava', 'age': 19, 'city': 'Lucknow'}

In [61]:
22. # Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
details = {'name': 'John', 'age': 25}
details['country'] = 'USA'
print(details)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [62]:
23. # Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
details = {'name': 'Alice', 'age': 30}
print(details['name'])

Alice

In [63]:
24. # Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del details['age']
print(details)

{'name': 'Bob', 'city': 'New York'}

In [64]:
25. # Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
details = {'name': 'Alice', 'city': 'Paris'}
print('city' in details)

True

In [65]:
26. # Write a code to create a list, a tuple, and a dictionary, and print them all.
dict = {
    "name": "Yash Srivastava",
    "age": 19,
    "city": "Lucknow"}
print(dict)
tuple = (100, 200, 300)
print(tuple)
list = [1, 2, 3, 4, 5]
print(list)

{'name': 'Yash Srivastava', 'age': 19, 'city': 'Lucknow'}
(100, 200, 300)
[1, 2, 3, 4, 5]

In [66]:
27. # Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order,
# and print the result.(replaced).
lst = [10, 56, 23, 89, 45]
lst.sort()
print(lst)

[10, 23, 45, 56, 89]

In [67]:
28. # Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "cherry", "date", "elderberry"]
print(lst[2])

cherry

In [68]:

29. # Write a code to combine two dictionaries into one and print the result.
dict1 = {"name1": "Yash Srivastava", "age1": 19, "city1": "Lucknow"}
dict2 = {"name2": "Rakesh", "age2": 18, "city2": "Lucknow"}

combined = {**dict1, **dict2}
print(combined)

{'name1': 'Yash Srivastava', 'age1': 19, 'city1': 'Lucknow', 'name2': 'Rakesh', 'age2': 18, 'city2': 'Lucknow'}

In [69]:
30. # Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(lst)
print(my_set)

{'apple', 'cherry', 'date', 'banana', 'elderberry'}